<h1><%= @post.title %></h1>
<h2>Comments</h2>
  <% if @post.comments %>
    <% for comment in @post.comments %>
      <div class = 'comment' id='comment-<%= comment.id %>' >
        <%= image_tag(gravatar_url_for(comment.email)) %>
        <div class="created">
          <h3><%= comment.author %></h3> on
          <%= comment.created_at.strftime("%B %d, %Y") %> 
        </div>
        <%= textilize(comment.content) %>
        <%= textilize("by **"+comment.author+"**\n") %>
        <% if !comment.author_url.empty? %>
          <%= textilize("Website: _"+comment.author_url+"_\n") %>
        <% end %>
        <%= textilize("Email: _"+comment.email+"_\n") %>
        <div id='status-<%= comment.id %>' >
          <%= link_to_remote comment.comment_status, :url => accept_admin_post_comment_path(@post, comment) %>
        </div>
        <%= link_to "Delete", admin_post_comment_path(@post, comment), :method => :delete, :confirm => 'Are you sure?' %>
      </div>
    <% end %>
  <% end %>

