<li id = <%= current('base') %> ><%= link_to "Dashboard", dashboard_path %></li>
<li id = <%= current('users') %> ><%= link_to "Users", admin_users_path %></li>
<li id = <%= current('posts') %> ><%= link_to "Posts", admin_posts_path %></li>
<li id = <%= current('categories') %> ><%= link_to "Categories", admin_categories_path %></li>
<li id = <%= current('comments') %> ><%= link_to "Comments", admin_posts_path %></li>
