<div class ="divitem">Title:</div>
  <div class ="divfield"><%= text_field :post, :title %></div>

<div class ="divitem">Content:</div>
  <div id='textareapostcontent' class ="divfield">
      <p>Please click <%= link_to_remote "here", :url => change_text_field_admin_posts_path(:content => @post.content) %>if you want normal text field</p><%= text_area :post, :content, :class => "mce-editor" %>
  </div>

<div class ="divitem">Tags:</div>
  <div class ="divfield"><%= text_field :tag, :name, :value => "#{@post.tag_list rescue ''}" %></div>

<div class ="divitem">Status:</div>
  <div class ="divfield"><%= select :post, :status, (Post::STATUS) %></div>

<div class ="divitem">Categories:</div>
  <div class ="divfield">
    <% @category = Category.find(:all, :conditions => ["category_name != 'Uncategorized'"]) %>
    <% for cat in @category %>
      <%= check_box_tag "post[category_ids][]", "#{cat.id}" %>
      <%= cat.category_name %><br />
    <% end %>
  </div>

<div class ="divitem"><%= link_to "Cancel", admin_posts_path %></div>
