<ul id="dashboard">
  <li><%= link_to "Home", "/" %></li>
  <% if is_admin? %>
    <li><%= link_to "Add New user", new_admin_user_path %></li>
  <% end %>
  <li><%= link_to "New post", new_admin_post_path %></li>
  <li><%= link_to "Categories", admin_categories_path %></li>
  <li><%= link_to "Recent comments", recent_comments_path %></li>
</ul>
