<% if @posts.empty? %>
  <div> There is no post</div>
<% else %>
  <% for post in @posts %>
    <div class ="post" id = "post-<%= post.id %>" >
      <div class="title">
        <h1><%= link_to h(post.title), post_path(post) %></h1>
      </div>
      <div class="created">on
        <%= post.created_at.strftime("%B %d, %Y") %> 
        by <%= link_to post.user.username, user_path(post.user.username)%>
      </div>
      <div class="postcontent">
        <%= truncate(post.content, 500) %>
      </div>
      <div class="tags">
        <% if !post.tags.empty? %>
          Tags:
          <% for tag in post.tags %>
            <%= link_to tag.name, tag_path(tag.name) %>
          <% end %>
        <% end %>
      </div>
      <div class="no_of_comment">
        <%= link_to "#{post.comments.size} comments", post_path(post, :anchor => 'comments') %>
      </div>
    </div>
  <% end %>
<% end %>

