<div class = 'post'>
  <div class='title'>
    <h1><%= h(@post.title) %></h1>
  </div>
  <% if session[:user_id] && (is_admin? || @post.user == current_user) %>
    <div class='edit_del'>
      <%= link_to "edit", edit_admin_post_path(@post) %> / 
      <%= link_to "delete", admin_post_path(@post), :method => :delete, :confirm => 'Are you sure?'  %>
    </div>
    <% if @post.version && @post.versions.size > 0 %>
      Previous versions:<%= @post.versions.collect{|v| link_to("version #{v.version}", version_admin_post_path(@post, :version => v.version))}.join(", ") %><br />
      Current version: <%= @post.versions.size %>
    <% end %>
  <% end %>
  <div class="created">on
    <%= @post.created_at.strftime("%B %d, %Y") %> 
    by <%= link_to @post.user.username, user_path(@post.user.username)%>
  </div>
  <div class="postcontent">
    <%= highlight(textilize(@post.content)) %>
  </div>
  <div class="tags">
    <% if !@post.tags.empty? %>
      Tags:
      <%= post.tags.collect{|tag| link_to(tag.name, tag_path(tag.name))}.join(",")  %>
    <% end %>
  </div>
</div>
