<div class = 'post'>
  <div class='title'>
    <h1><%= h(@post.title) %></h1>
  </div>
  <div class="created">on
    <%= @post.created_at.strftime("%B %d, %Y") %> 
    by <%= link_to @post.user.username, user_path(@post.user.username)%>
  </div>
  <div class="postcontent">
    <%= @post.content %>
  </div>
  <div class="tags">Tags:
    <% if !@post.tags.empty? %>
      <% for tag in @post.tags %>
        <%= link_to tag.name, tag_path(tag.name) %>
      <% end %>
    <% end %>
  </div>
</div>
  <h2 id="comments">Comments</h2>
  <% if @post.accepted_comments %>
    <% for comment in @post.accepted_comments %>
      <div class = 'comment' id='comment-<%= comment.id %>' >
        <%= image_tag(gravatar_url_for(comment.email)) %>
        <div class="created">
          <h3><%= link_to comment.author, "http://" + comment.author_url %></h3> on
          <%= comment.created_at.strftime("%B %d, %Y") %> 
        </div>
        <%= textilize(comment.content) %>
      </div>
    <% end %>
  <% end %>

  <div class="postcomment">
  <h3> Leave a comment </h3>  
    <div class = 'error' id='comment_errors'></div>
      <% remote_form_for [@post, @comment], :html => { :id => 'comment_form' } do |f| %>
        <div class ="divitem">Comment:</div>
          <div class ="divfield"><%= f.text_area :content, :rows => 10, :cols => 50 %></div>
        <div class ="divitem">Your name:</div>
          <div class ="divfield"><%= f.text_field :author %></div>
        <div class ="divitem">Website:</div>
          <div class ="divfield">http://<%= f.text_field :author_url %></div>
        <div class ="divitem">Email:</div>
          <div class ="divfield"><%= f.text_field :email %></div>
        <div class ="divitem" id = "captcha"><%= show_simple_captcha %></div>
        <div class ="divitem"><%= f.submit 'post' %></div>
      <% end %>
  </div>

