<div id = "@post"+<%= @post.id %> >
  <div class="title">
    <h1><%= link_to h(@post.title), post_path(@post) %></h1>
  </div>
  <div class="created">
    <%= @post.created_at.strftime("%m-%d-%Y") %>
  </div>
  <div class="post">
    <%= @post.content %>
  </div>
  <div class="author">
    posted by <%= h @post.user.name %>
  </div>
  <% if session[:user_id] %>
    <% if @post.user.id == current_user.id || is_admin? %>
      <div>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", post_path(@post), :method => :delete, :confirm => 'Are you sure?' %>
      </div>
    <% end %>
  <% end %>
</div>
