<%= render :partial => "post" %>
  <h2 id="comments">Comments</h2>
  <% if @post.accepted_comments %>
    <% for comment in @post.accepted_comments %>
      <div class = 'comment' id='comment-<%= comment.id %>' >
        <%= image_tag(gravatar_url_for(comment.email)) %>
        <div class="created">
          <h3><%= link_to comment.author, "http://" + comment.author_url %></h3> on
          <%= comment.created_at.strftime("%B %d, %Y") %> 
        </div>
        <%= RedCloth.new(comment.content, [:filter_html]).to_html %>
      </div>
    <% end %>
  <% end %>

  <div class="postcomment">
    <div id="comment-preview" style="display: none"></div>
    <h3> Leave a comment </h3>  
      <div class = 'error' id='comment_errors'></div>
        <% remote_form_for [@post, @comment], :html => { :id => 'comment_form' } do %>
          <%= render :partial => 'comments/form' %>
        <% end %>
      <%= observe_form 'comment_form',
                  :url => preview_post_comments_path(@post),
                  :frequency => 1,
                  :update => 'comment-preview' ,
                  :complete => "Element.show('comment-preview')" %>

    </div>

