<html>
  <head>
    <%= render :partial => 'shared/head' %>
  </head>
  <body id="admin">
    <div id="heading">
      <%= render :partial => 'shared/heading' %>
    </div>

      <ul id="navbar">
        <%= render :partial => 'shared/nav' %>
      </ul>
      <div id="notext"></div>

    <div id="flash">
      <%= flash[:msg] %>
    </div>
    <div id="main">
      <%= yield :layout %>
    </div>
  </body>
</html>
