<html>
  <head>
    <%= stylesheet_link_tag "blogging_app", :media => "all" %>
    <%= javascript_include_tiny_mce_if_used %>
    <%= tiny_mce if using_tiny_mce? %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body id="application_body">
    <%= render :partial => 'shared/header' %>
    <div id="main">
      <div id="flash">
        <%= flash[:msg] %>
      </div>
      <%= yield :layout %>
    </div>
    <div id="tags">
      <%= render(:partial => "shared/side_bar") %>
    </div>
      <%= render(:partial => "shared/footer") %>
  </body>
</html>
